.container_home{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.image{
  margin-left: 8px;
  width: 600px;
}

@media only screen and (max-width: 800px) {
  .container_home{
    flex-direction: column-reverse;
  }
}