@import "../../styles/partials/variables";
@import "../../styles/partials/containers";

.container_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  border-radius: 5px 5px 0 0;
  background: rgb(42,71,96);
  background: linear-gradient(180deg, rgba(42,71,96,1) 0%, rgba(80,114,143,1) 100%);

  .info_type{
    @extend .container_i;
    width: 72px;
    font-weight: 800;
    font-size: 16px;
  }

  .title{
    color: $TEXT-COLOR;
    font-size: 25px;
    margin-top: 3px;
  }
}

.container_image_card{
  @extend .container_primary;
  width: 600px;
}

.container_image{
  @extend .container_secondary;
  margin-top: 4px;
  width: 600px;

  img{
    width: 594px;
  }

}